body{
  font-family: 'Roboto', sans-serif;
}

/* Splash */
#splash {
  height: 100vh;
  background: linear-gradient(to bottom right, #530060, #E7098B);
}

#splash img {
  margin-top: 30vh;
}

/* section login */
#signup {
  background-image: url(../img/bg_street.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.img-lyft-top {
  width: 80%;
}

.lyft-center {
  padding-top: 40%;
  padding-bottom: 45%;
}

/* botones login */

.btns-signup button {
  background-color: transparent;
  color: #fff; 
  border: 1px solid #fff;
  font-size: 1.3em;
  padding: 6%;
}

.btns-signup button:hover {
  color:#F27;
}

/* form-signup */
.phone-input{
  margin-bottom: 1em;
}

.glyphicon-chevron-left{
  border: 0.1em solid #000;
  border-radius: 1em;
  padding: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

.page-header a{
  color: #000;
  text-decoration: none;
}

.dropdown-menu{
  min-width: 6em;
}

/* verify-phone */

.triple-input .form-control {
    width: 33.3%;
    border-right-width: 0px;
}
.triple-input .form-control:focus {
    border-right-width: 1px;
}